.img{
    float: right;
    margin-bottom: 30px;
}
.box{
    background-color: transparent;
    margin-top: 20px;
    width:1000px;
    height:25px;
    margin: 15px;

}

.well{
    background-color:snow !important;
    }

/*
.about{
    background-color: white;
    padding: 5px;
    margin-top: 20px;
    text-align: left;
    width:600px;
    line-height:1.25em;
    margin: 15px;
}
.background{
    background-color: white;
    padding: 5px;
    margin-top: 20px;
    text-align: left;
    width:600px;
    line-height:1.25em;
    margin: 15px;
}
.interests{
    
    background-color: white;
    padding: 5px;
    margin-top: 20px;
    text-align: left;
    width:600px;
    line-height:1.25em;
    margin: 15px;
}
